h1 {
  color: white;
  font-size: 36px;
  font-style: italic;
  left: 50px;
  position: fixed;
  text-transform: lowercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.key {
  left: 50px;
  position: fixed;
}

h3 {
  font-style: italic;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
}

.dot {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.mesopotamia {
  background-color: yellow;
}

.greece {
  background-color: green;
}

.china {
  background-color: red;
}

.india {
  background-color: orange;
}

.axis {
  fill: #000;
  font-family: serif;
  font-size: 12px;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke: black;
}

.chart {
  fill: #fff;
}

.interval {
  fill: white;
  stroke-width: 6;
  cursor: default;
  pointer-events: true;
}

.instant {
  fill: black;
  stroke-width: 6;
  cursor: default;
}

.instantLabel {
  fill: black;
  font: 16px serif;
  shape-rendering: crispEdges;
}

.intervalLabel {
  fill: black;
  font: 16px serif;
  shape-rendering: crispEdges;
}

.item {
  cursor: default;
  pointer-events: auto;
}

.svg {
  background-color: #fff;
}

.tooltip {
  background-color: #fff;
  border: 1px solid;
  color: black;
  cursor: default;
  padding: 4px;
  pointer-events: none;
  position: absolute;
  shape-rendering: crispEdges;
  visibility: hidden;
  width: 200px;
}